{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

<h2 class="mb-4">Help & Panduan Penggunaan</h2>

<div class="card mb-4">
<div class="card-body">

<h5>Langkah Penggunaan Sistem</h5>

<ol>
<li>Masuk ke website.</li>
<li>Login dengan username <b>anggora</b> dan password <b>nursery</b>.</li>
<li>Perhatikan menu pada dashboard.</li>
<li>Buka menu <b>Prediksi</b>.</li>
<li>Masukkan <b>ID Tanaman</b>.</li>
<li>Upload gambar daun <b>Platycerium</b>.</li>
<li>Tekan tombol <b>Prediksi</b>.</li>
<li>Sistem akan menampilkan hasil diagnosis dan visualisasi GradCAM.</li>
<li>Akan muncul juga penanganan awal sesuai diagnosis.</li>
<li>Hasil otomatis tersimpan pada menu <b>History</b>.</li>
<li>Pada menu <b>History</b> data dapat diunduh dalam bentuk Excel.</li>
<li>Data history juga dapat dihapus per data atau semua data.</li>
<li>Buka menu <b>Jurnal Pendukung</b> untuk melihat referensi penelitian.</li>
<li>Jika mengalami kendala, hubungi contact person.</li>
</ol>

</div>
</div>

<div class="card">
<div class="card-body">

<h5>Contact Person</h5>

<p>

<b>Developer :</b> Faizun Nasrulloh<br>
<b>Institusi :</b> Politeknik Negeri Malang<br>
<b>Program Studi :</b> D4 Teknik Jaringan Telekomunikasi Digital<br>
<b>Email :</b> faizunnasrulloh354@gmail.com<br>
<b>WhatsApp :</b> 085979718704<br>
<b>Instagram :</b> @faizun_nsrlh<br>
<b>LinkedIn :</b> linkedin.com/in/faizun-nasrulloh

</p>

</div>
</div>

</div>

{% endblock %}