{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

<h2 class="mb-4">
<i class="fa-solid fa-book me-2"></i>
Referensi Penyakit dan Cara Penangganannya
</h2>

<div class="card">
<div class="card-body">

<p>
Berikut beberapa referensi yang menjelaskan tentang penyakit tanaman platycerium dan bagaimana cara penangganannya di tiap penyakit :
</p>

<div class="list-group mt-4">

<a href="https://staghornfern.org/guides/staghorn-fern-brown-tips/#brown-spots-on-leaves" target="_blank"
class="list-group-item list-group-item-action">

<i class="fa-solid fa-file-lines me-2"></i>
Bercak Coklat (Fungal Spots) - Cara Penangganannya

</a>

<a href="https://staghornfern.org/guides/why-is-my-staghorn-fern-dying/#4-too-much-direct-sun" target="_blank"
class="list-group-item list-group-item-action">

<i class="fa-solid fa-file-lines me-2"></i>
Sunburn - Cara Penangganannya

</a>

<a href="https://staghornfern.org/guides/why-is-my-staghorn-fern-dying/#4-too-much-direct-sun" target="_blank"
class="list-group-item list-group-item-action">

<i class="fa-solid fa-file-lines me-2"></i>
Busuk Akar (Root Rot) - Cara Penangganannya

</a>

<a href="https://staghornfern.org/guides/pest-control/#2-mealybugs" target="_blank"
class="list-group-item list-group-item-action">

<i class="fa-solid fa-file-lines me-2"></i>
Bercak putih (Mealybugs) - Cara Penangganannya

</a>
</div>

</div>
</div>

<div class="container mt-5">

<h2 class="mb-4">
<i class="fa-solid fa-book me-2"></i>
Jurnal Pendukung
</h2>

<div class="card">
<div class="card-body">

<p>
Berikut beberapa jurnal pendukung yang menjadi referensi dari setiap metode yang dipakai dalam menyusun sistem ini :
</p>

<div class="list-group mt-4">

<a href="https://d1wqtxts1xzle7.cloudfront.net/77649154/pdf-libre.pdf?1640932131=&response-content-disposition=inline%3B+filename%3DPenerapan_Algoritma_Convolutional_Neural.pdf&Expires=1776871425&Signature=BS1JWXIrOAU0w3xPumSMMCADzhja0y0zq~IBJ63JQkFvpu5TB2t2AddRJRt4RD8bMZYU3JYcif6iS9qqxBJT8qLRoZeFBh9EmRUNjnM-4uoSp0fkOl1GYeEBuiF-lILeuG7nBNyYP8Vu~er3ntRLxweRld8mbLDnTt0mgPAsdDSgtZuBIDi2fKA75Oc4IURUV13tMqQFGlOuMQfOcZhemWlJO08LJ5jmDVlZRUpGj6FdQIiBgJNW4skhOEFr5pFuyS1LU6GRGVN6LQnzSgIRDp80uhNfE2rAlnAOVjivEziB5Kve~zumBYsHm-UGcCj44teUgQh8~Y2aRP9fFhc4ng__&Key-Pair-Id=APKAJLOHF5GGSLRBV4ZA" target="_blank"
class="list-group-item list-group-item-action">

<i class="fa-solid fa-file-lines me-2"></i>
Implementasi arsitektur mobilnet dalam sistem penyakit paun padi

</a>

<a href="https://proceeding.unpkediri.ac.id/index.php/stains/article/view/2888/2003" target="_blank"
class="list-group-item list-group-item-action">

<i class="fa-solid fa-file-lines me-2"></i>
Implementasi CNN (Convutional Nueral Network) dalam sistem deteksi penyakit daun alpukat

</a>

<a href="https://journal.umuslim.ac.id/index.php/tika/article/view/1913/1450" target="_blank"
class="list-group-item list-group-item-action">

<i class="fa-solid fa-file-lines me-2"></i>
Perancangan Web Aplikasi untuk deteksi penyakit cabai

</a>

<a href="https://simantik-panca-sakti.ac.id/index.php/simantik/article/view/71/71" target="_blank"
class="list-group-item list-group-item-action">

<i class="fa-solid fa-file-lines me-2"></i>
Pemanfaatan MySQL sebagai database sebuah sistem 

</a>

<a href="https://drive.google.com/file/d/1l3CLhQ1RCMRTo0Ufqm7Onq4ulT6FmQol/view?usp=sharing" target="_blank"
class="list-group-item list-group-item-action">

<i class="fa-solid fa-file-lines me-2"></i>
Implementasi Heatcam dan Gradcam sebagai bahan analisa lebih dalam disebuah sistem 

</a>

</div>

</div>
</div>

</div>

{% endblock %}